{% extends 'base.html' %}
{%- block content -%}
     <div class="container">
          <div class="row">
               <div class="four columns">
                    <h1 class="large-header">Argos Art</h1>
                    <h5>Free public domain art</h5>
                    <a href="index/"><h5>Index</h5></a>
               </div>
          </div>
          <div class="row">
               <div class="eight columns">
                    <style>
                         img {
                              max-width: 100%;
                         }
                    </style>
                    <a href="i/13179/"><img src="Images/13179.jpg" alt="Line Fishing, Off Hastings - Joseph Turner (1835)"></a>
               </div>
          </div>
          <div class="row">
               <div class="four columns">
                    <br><br><br>
                    <footer>
                            <p><a href="https://www.argosopentech.com">Argos Open Tech</a> | <a href="https://github.com/argosopentech/argos-art">About</a> | <a href="https://argos-open-tech.creator-spring.com/">Merch</a></p>
                    </footer>
               </div>
          </div>
     </div>
{%- endblock -%}
