{% extends 'base.html' %}
{%- block content -%}
     <h1 class="large-header">Argos Art</h1>
     <h5>Free public domain art</h5>
     <a href="index/"><h5>Index</h5></a>
     <style>
          img{
               max-height: 30em;
          }
     </style>
     <a href="i/13179/" alt="Line Fishing, Off Hastings - Joseph Turner (1835)"><img src="Images/13179.jpg"></a>
     <br><br><br><br><br><br>
     <footer>
          <p><a href="https://www.argosopentech.com">Argos Open Tech</a> | <a href="https://github.com/argosopentech/argos-art">About</a></p>
     </footer>
{%- endblock -%}
