{% extends 'base.html' %}
{%- block stylesheet -%}<link rel="stylesheet" href="../Stylesheets/base.css">{%- endblock -%}
{% block content %}
        <img src="../Images/{{image.ID}}.jpg">
        <h2 class="large-header">{{title}}</h2>
        <h4 class="keywords"><b class="header">Keywords:</b>{{image.Keywords}}</h4>
        {%- for key, value in image.items() +%}
        {%- if key == "Redbubble URL" +%}
        <a href="{{value}}" target="_blank"><button type="button" class="button button-2">Print</button></a>
        {%- endif +%}
        {%- if key == "Short Description" +%}
        <h4 class="header">Description:</h4>
        <p class="paragraph">{{value}}</p>
        {%- endif +%}
        {%- endfor +%}
        <a href="../Images/{{image.ID}}.jpg" target="_blank"><button type="button" class="button button-1">Download</button></a>
{% endblock %}